body{
    background-color: #c1c1c1;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 20px;
}

#bobaContainer{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#bobaTitle{
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

#instructions{
    text-align: center;
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
}