body{
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    text-align: center;

}

#bobaContainer{

    
    justify-content: center;
    gap: 20px;
    text-align: center;
}

#bobaTitle{
    
    font-size: 2em;
    color: #333;
    
}

#instructions{
    text-align: center;
    font-size: 1.2em;
    color: #555;
    
}

#dropButton{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #1e13c1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}